@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    padding: 0;
    color: #fff;
    background-color: black;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


a{
    color: #fff;
    text-decoration: none;
}

p{
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5{
    font-weight: 500;
    margin: 0;
}

.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

/*Шапка*/
.header {
    position: relative;
    padding: 10px 0;
}


.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 72px 32px 72px;
}

.header__text{
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    flex-shrink: 0;
}

.link__container{
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__list{
    display: flex;
    gap: 24px;
    margin-left: auto;
    margin: 0;
    padding: 0;
    list-style: none;

}

.header__nav{
    font-size: 16px;
    font-weight: 400;
}

.header .btn{
    background: #5221E6;
    color: #fff;
    width: 109px;
    height: 88px;
    border-radius: 10px;
    font-size: 18px;
    transition: all 0.3s;
}

.header .btn:hover{
    background: #069af0;
    transform: scale(1.2);
}



/*Главная секция*/
.wellcome{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.wellcome::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    border-bottom: 2px dashed #8491A0;
}

.wellcome__background{
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
    background: #181823;
    z-index: 0;
}

.wellcome__inner{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;
}


.wellcome__image{
    width: 45%;
    margin-top: 80px;
}

.wellcome__text{
    flex: 0 0 50%;
    z-index: 2;
    margin-left: -69px;
}

.tetxt__title{
    font-weight: 700;
    font-size: 78px;
    margin-bottom: 16px;
}

.location{
    font-weight: 700;
    font-size: clamp(32px, 6vw, 78px);
    opacity: 0.7;
    margin-bottom: 16px;
}

.text__subtitle{
    font-weight: 400;
    font-size: 18px;
    margin-top: 32px;
}

/*О сайте*/

.aboutSite{
    padding: 175px 0;
}

.aboutSite__text-small{
    font-weight: 700;
    font-size: 16px;
    color: #8491A0;
    margin-top: 120px;
    margin-left: 72px;
    padding-bottom: 8px;
}

.aboutSite__text-title{
    font-weight: 700;
    font-size: 55px;
    margin-left: 72px;
}

.blocks{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 72px;
    gap: 77px;
}

.description__number{
    font-weight: 400;
    font-size: 117px;
    color: #8491A0;
}

.description__title{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 22px;
}

.description__subtitle{
    font-weight: 400;
    font-size: 16px;
    color: #8491A0;
}

.is-green{
    color: #3CC74E;
}

.is-blue{
    color: #609BFF;
}

.is-red{
    color: #E95D90;
}

/*О блоге*/
.philosophy{
    background-color: #FFF3E4;
    color: black;
    overflow: hidden;
}

.philosophy__inner{
    display: flex;
    align-items: center;
}

.philosophy__container{
    width: 100%;
    max-width: 720px;
    margin-left: auto;
}

.philosophy__image-wrapper{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.philosophy__content{
    max-width: 600px;
}

.philosophy__image{
    width: 100%;
    max-width: 720px;
    height: auto;
    object-fit: cover;
}

.philosophy__title{
    margin-top: 120px;
    margin-left: 72px;
    font-weight: 700;
    font-size: 55px;
}

.philosophy__text{
    margin-top: 24px;
    margin-left: 72px;
    font-weight: 400;
    font-size: 18px;
}

.philosophy__link{
    margin-top: 134px;
    margin-left: 72px;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-color: #8491A0;
}


/*Skillset*/
.skillset__conatiner{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.skillset__content {
    max-width: 416px;
}

.skillst__title{
    margin-top: 120px;
    margin-left: 72px;
    font-weight: 700;
    font-size: 55px;
}

.skillset__suttitle{
    margin-top: 24px;
    margin-left: 72px;
    font-weight: 400;
    font-size: 18px;
    color: #8491A0;
}

.block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 72px;
}


.text__logo{
    margin-top: 120px;
}

.skillset__title{
    margin-top: 24px;
    font-weight: 700;
    font-size: 24px;
}

.skillset__subtitle{
    max-width: 368px;
    margin-top: 12px;
    font-weight: 400;
    font-size: 16px;
    color: #8491A0;
}

/*Таблица*/
.brands__container{
    display: flex;
    margin-top: 120px;
    margin-left: 51px;
    margin-right: 51px;

    border-top: 1px solid #1f2a36;
    border-left: 1px solid #1f2a36;
    border-right: 1px solid #1f2a36;
    border-bottom: 1px solid #1f2a36;
}

.brands__items{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    border-right: 1px solid #1f2a36;
}

.brands__items:last-child{
    border-right: 0;
}

.brands__image{
    max-height: 30px;
    opacity: 0.7;
    transition: 0.3s;
}

.brands__image:hover{
    opacity: 1;
}

/*Design*/
.cards__container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.card__block{
    column-count: 2;
    column-gap: 30px;
    max-width: 1320px;
    margin-top: 40px auto 0;
}

.card{
    background: #181823;
    margin-bottom: 30px;
    break-inside: avoid;
    display: block;
    margin-top: 160px;
}

.cards__image{
    width: 100%;
    height: 620px;
    object-fit: cover;
    display: block;
}



.card__subtitle{
    margin-top: 120px;
    margin-left: 72px;
    font-weight: 700;
    font-size: 16px;
    color: #8491A0;
}

.card__title{
    margin-top: 8px;
    margin-left: 72px;
    font-weight: 700;
    font-size: 55px;
}

.card__btn{
    background-color: #000;
    color: #fff;
    border: 2px solid #5221E6; 
    padding: 24px 32px;
    font-weight: 700;
    font-size: 18px;
}

.card__text--subtitle{
    font-weight: 400;
    font-size: 18px;
    color: #8491A0;
    margin-top: 13px;
}

/*Travel*/
.travel{
    background-color: #FBE4FF;
    color: #000;
    overflow: hidden;
}

.travel__inner{
    display: flex;
    align-items: center;
}

.travel__container{
    width: 100%;
    max-width: 720px;
    margin-left: auto;
}

.travel__image--wrapper{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.travel__content{
    max-width: 600px;
}

.travel__image{
    width: 100%;
    max-width: 720px;
    overflow: hidden;
    object-fit: cover;
}

.travel__title{
    margin-top: 120px;
    margin-left: 72px;
    font-weight: 700;
    font-size: 55px;
}

.travel__text{
    margin-top: 24px;
    margin-left: 72px;
    font-weight: 400;
    font-size: 18px;
    color: #5B6876;
}

.travel__link{
    margin-top: 134px;
    margin-left: 72px;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-color: #8491A0;
}

/*Секция с картинкой*/
.site__conatiner{
    display: flex;
    flex-direction: column;
}

.site__image{
    display: block;
    margin: 182px 120px;
    max-width: 100%;
    height: auto;
}

.site__text{
    margin-top: 120px;
    margin-left: 182px;
    font-weight: 700;
    font-size: 55px;
}

.site__subtitle{
    margin-top: 24px;
    margin-left: 182px;
    font-weight: 400;
    font-size: 18px;
    color: #8491A0;
}

.site__link{
    margin-top: 40px;
    margin-left: 182px;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-color: #8491A0;
}

/*Job section*/
.job__container{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    column-gap: 72px;
    padding: 120px 72px;
    align-items: start;
    grid-auto-rows: min-content;
}


.job__title{
    margin-top: 0;
    font-weight: 700;
    font-size: 55px;
}

.job__subtitle{
    margin-top: 24px;
    font-weight: 400;
    font-size: 18px;
    color: #8491A0;
}

.job__link{
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-color: #8491A0;
}

.job__title,
.job__subtitle,
.job__link{
    grid-column: 1 / 2;
}

.job__block{
    display: grid;
    gap: 40px;
    grid-column: 2 / 3;
    margin-top: 8px;
}

.job__image{
    width: 100%;
    height: 360px;
    object-fit: cover;
    display: block;
}

.job__items{
    background-color: #000;
    display: grid;
    gap: 24px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.job__text--title{
    margin: 64px 64px;
    font-weight: 700;
    font-size: 24px;
}

.job__text--subtitle{
    margin-left: 64px;
    font-weight: 400;
    font-size: 18px;
    color: #5B6876;
}

/*Photo section*/
.photo__title{
    margin-top: 120px;
    margin-left: 72px;
    font-weight: 700;
    font-size: 55px;
}

.photo__subtitle{
    margin-top: 24px;
    margin-left: 72px;
    font-weight: 400;
    font-size: 18px;
    color: #8491A0;
}

.photo__buttom{
    margin-top: 64px;
    margin-left: 72px;
    display: flex;
    gap: 24px;
}

.photo__buttom--italy{
    border: 2px solid #5221E6;
    padding: 51px 88px;
    font-weight: 700;
    font-size: 18px;
    background-color: #5221E6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo__buttom--australia{
    border: 2px solid #5221E6;
    padding: 51px 136px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo__buttom--india{
    border: 2px solid #5221E6;
    padding: 92px 51px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo__buttom--brazil{
    border: 2px solid #5221E6;
    padding: 102px 51px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo__image{
    margin-top: 40px;
    margin-left: 72px;
    margin-right: 72px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

/*Registration section*/
.registration__container{
    margin-top: 120px;
    height: 713px;
    display: flex;
    justify-content: space-between;
    padding: 0 182px;
}

.registration__inner{
    margin-top: 120px;
    margin-left: 182px;
    margin-right: 24px;
}

.registration__title{
    font-weight: 700;
    font-size: 55px;
}

.registration__subtitle{
    margin-top: 24px;
    font-weight: 400;
    font-size: 18px;
    color: #8491A0;
}

.contact-form{
    width: 526px;
    display: flex;
    flex-direction: column;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.input-box label{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea,
.registration__btn{

    box-sizing: border-box;
}

.contact-form input,
.contact-form textarea{
    width: 100%;
    background: #181823;
    border: none;
    padding: 10px 16px;
    color: #fff;
    font-size: 16px;
}

.contact-form textarea{
    resize: none;
    margin-bottom: 40px;
}

.registration__btn{
    width: 100%;
    height: 75px;
    gap: 10px;
    background: #5221E6;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: 0.2 ease;
}

.registration__btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 12px 30px rgba(82, 33, 230, 0.35);
}

/*Footer*/
.footer__container{
    display: flex;
    justify-content: space-between;
    height: 422px;
    margin-top: 120px;
    background: #181823;
}

.footer__brand{
    display: flex;
    flex-direction: column;
}

.footer__title{
    margin-top: 80px;
    margin-left: 72px;
    font-weight: 700;
    font-weight: 24px;
    margin-bottom: 32px;
}

.footer__sociasls{
    display: flex;
    gap: 16px;
    margin-left: 72px;
}

.footer__subtitle{
    margin-top: 142px;
    margin-left: 72px;
    font-weight: 400;
    font-size: 16px;
    color: #8491A0;
}

.footer__nav{
    display: flex;
    gap: 150px;
    margin-top: 80px;
    margin-right: 182px;
}

.footer__list,
.footer__menu{
    display: flex;
    flex-direction: column;
    gap: 48px;
    font-weight: 400;
    font-size: 16px;
}