@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    padding: 0;
    color: #fff;
    background-color: black;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


a{
    color: #fff;
    text-decoration: none;
}

p{
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5{
    font-weight: 500;
    margin: 0;
}

.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 72px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

/*Шапка*/
.header {
    position: relative;
    padding: 10px 0;
}


.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 72px 32px 72px;
}

.header__text{
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    flex-shrink: 0;
}

.link__container{
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__list{
    display: flex;
    gap: 24px;
    margin-left: auto;
    margin: 0;
    padding: 0;
    list-style: none;

}

.header__nav{
    font-size: 16px;
    font-weight: 400;
}

.header .btn{
    background: #5221E6;
    color: #fff;
    width: 109px;
    height: 88px;
    border-radius: 10px;
    font-size: 18px;
    transition: all 0.3s;
}

.header .btn:hover{
    background: #069af0;
    transform: scale(1.2);
}



/*Главная секция*/
.wellcome{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.wellcome::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    border-bottom: 2px dashed #8491A0;
}

.wellcome__background{
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background: #181823;
    z-index: 0;
}

.wellcome__inner{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;
}


.wellcome__image{
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    margin-top: 80px;
    height: auto;
    z-index: 1;
}

.wellcome__text{
    flex: 0 0 60%;
    margin-left: 650px;
    z-index: 1;
}

.tetxt__title{
    font-weight: 700;
    font-size: 78px;
    margin-bottom: 16px;
}

.location{
    font-weight: 700;
    font-size: 78px;
    opacity: 0.7;
    margin-bottom: 16px;
}

.text__subtitle{
    font-weight: 400;
    font-size: 18px;
    margin-top: 32px;
}

/*О сайте*/

.aboutSite{
    padding: 175px 0;
}

.aboutSite__text-small{
    font-weight: 700;
    font-size: 16px;
    color: #8491A0;
    margin-top: 120px;
    margin-left: 72px;
    padding-bottom: 8px;
}

.aboutSite__text-title{
    font-weight: 700;
    font-size: 55px;
    margin-left: 72px;
}

.blocks{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 72px;
    gap: 77px;
}

.description__number{
    font-weight: 400;
    font-size: 117px;
    color: #8491A0;
}

.description__title{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 22px;
}

.description__subtitle{
    font-weight: 400;
    font-size: 16px;
    color: #8491A0;
}

.is-green{
    color: #3CC74E;
}

.is-blue{
    color: #609BFF;
}

.is-red{
    color: #E95D90;
}

/*О блоге*/
.philosophy{
    background-color: #FFF3E4;
    color: black;
    overflow: hidden;
}

.philosophy__inner{
    display: flex;
    align-items: center;
}

.philosophy__container{
    width: 100%;
    max-width: 720px;
    margin-left: auto;
}

.philosophy__image-wrapper{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.philosophy__content{
    max-width: 600px;
}

.philosophy__image{
    width: 100%;
    max-width: 720px;
    height: auto;
    object-fit: cover;
}

.philosophy__image{
    flex: 1;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.philosophy__title{
    margin-top: 120px;
    margin-left: 72px;
    font-weight: 700;
    font-size: 55px;
}

.philosophy__text{
    margin-top: 24px;
    margin-left: 72px;
    font-weight: 400;
    font-size: 18px;
}

.philosophy__link{
    margin-top: 134px;
    margin-left: 72px;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-color: #8491A0;
}